:root {
    --background-primary: #3F292B;
    --background-secondary: #A37B73;
    --background-tertiary: #DBBEA1;
    --color-primary: #DBBEA1;
}

* {
    box-sizing: border-box;
}

html{
    height:100vh;
}

body.page-changes{
  --background-primary: #3F292B;
  --background-secondary:#A37B73;
  --background-tertiary: #DBBEA1;
  --color-primary: #DBBEA1;
  display: flex;
  flex-direction: column;
}

.header{
    border-bottom:1px solid #DBBEA1;
    background-color: var(--background-primary);
}

.header h1{
    font-size:5rem;
    text-align:center;
    color:white
}

.header nav{
    color:violet;
    height:fit-content;
    margin:0 auto;
    display:flex;
    justify-content:center;
    gap:24px;
    padding:12px 16px;
}

.menu__item{
    padding:.5rem .75rem;
    border-radius:.5rem;
    color:white;
}

.menu__item:hover{
    background-color: #3F292B;
    color:violet;
}

.main{
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 24px;
  margin: 24px auto 64px;
  padding: 16px;
}

.content {
    flex-grow: 1;
}

.sidebar {
    background-color: var(--background-tertiary);
    flex-basis: 25%;
    padding: 24px;
}

.container {
    background-color: var(--background-secondary);
    flex-grow: 1;
    padding: 24px;
}

img{
    width:100%;
    height:auto;
    display:block;
}
pre, code{
    font-family:monospace;
    font-size:18px;
    line-height:1.55;
}

pre{
    background:#3F292B;
    color:white;
    padding:12px;
    border-radius:12px;
    overflow-x:auto;
}

.note{
    background: #DBBEA1;
    border:2px solid#3F292B;
    border-radius:12px;
    padding:12px 8px;
}


/* about.css*/

.container{
    margin:0 auto;
    padding:12px;
}

.grid{
    display:grid;
    gap:12px;
}

.grid-3{
    grid-template-columns:repeat(3, minmax(0, 1fr));
}

.card{
    border:3px solid #3F292B;
    background-color: #DBBEA1;
    border-radius:12px;
}

.card-body{
    padding:12px 14px;
}

.card h3{
    margin:0 0 12px
}

.footer{
    height:150px;
    background-color:var(--background-primary);
    color:var(--color-primary);
    text-align:center;
    padding:32px 15px;
}