:root {
    --background-primary: #3F292B;
    --background-secondary: #A37B73;
    --background-tertiary: #DBBEA1;
    --color-primary: #DBBEA1;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.header,
.footer {
    height: 150px;
    background-color: var(--background-primary);
    color: var(--color-primary);
}

.content {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    background-color: var(--background-tertiary);
    flex-basis: 25%;
    padding: 24px;
}

.main {
    background-color: var(--background-secondary);
    flex-grow: 1;
    padding: 24px;
}

