:root {
    --background-primary: #3F292B;
    --background-secondary: #A37B73;
    --background-tertiary: #DBBEA1;
    --color-primary: #DBBEA1;
}

* {box-sizing: border-box;}

html, body { margin: 0; padding: 0; }

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

.header{
    border-bottom:1px solid #DBBEA1;
    background-color: var(--background-primary);
    color:#DBBEA1;
    text-align: center;
}

.h1{
    font-size: 4rem;
}

.h3{
    text-align: center;
    color:#DBBEA1;
}

img{ max-width:100%; width:100%; height:auto; display:block; }

.menu {
    background-color: var(--background-tertiary);
    display: flex;
    justify-content: space-around;
    padding: 24px;
}

.menu__item {
    color: var(--background-primary);
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 8px;
}

.menu__item:hover {
    background-color: var(--background-primary);
    color: var(--color-primary)
}

.active-page {
    background-color: var(--background-primary);
    color: var(--color-primary);
    padding: 8px 12px;
    border-radius: 8px;
}


.container{
    background-color: var(--background-secondary);
    width: 100%;
    margin-inline: auto;
    padding: 16px;  
}

body.page-changes{
  display: flex;
  flex-direction: column;
}

pre{
  background: #3F292B;
  color: white;
  padding: 12px;
  border-radius: 12px;
  padding: 12px;

  border-radius: 12px;
  white-space: pre-wrap;     
  word-break: break-word;   
  overflow-wrap: anywhere; 
}

.note{
    background: #DBBEA1;
    border:2px solid#3F292B;
    border-radius:12px;
    padding:12px 8px;
}

.footer {
    background-color: var(--background-primary);
    color: var(--color-primary);
    text-align: center;
}